h1 {
	font-family: 'impact', fantasy;
	color: black;
}
li.a {
	font-family: 'impact', fantasy;
	font-size: 18pt;
}

li.b {
	font-family: 'impact', fantasy;
	font-size: 18pt;
}

li.c {
	font-family: 'impact', fantasy;
	font-size: 18pt;
}

li.d {
	font-family: 'impact', fantasy;
	font-size: 18pt;
}

li.e {
	font-family: 'impact', fantasy;
	font-size: 18pt;
}

li.f {
	font-family: 'impact', fantasy;
	font-size: 18pt;
}
